:root {
  --color-background: #babac5;
  --stroke-width: calc(2em / 16);
  --font-size: 5vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

  .form-content{
    background-color: #fff;
    z-index: 1000;
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.4) ;
  }

  
  body {
    background-color: var(--color-background);
    display: grid;
    font-family: Poppins, sans-serif;
    margin: 0;
    min-block-size: 100vh;
    place-items: center;
    padding: 5vmin;
  }
  
  h5 {
    background-clip: text;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: rgb(254, 252, 252);
    font-size: var(--font-size);
    text-align: center;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
  }

  h6 {
    font-family: 'Mr Dafoe';
    margin: 2em;
    font-size: 2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(24, 21, 21);
    background:transparent;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 0.01em #fff, 0 0 0.1em #fe05e1, 0 0 0.2em #fe05e1;
    /* transform: rotate(-7deg); */
  }
img{
    height: 20rem;
    width: 25rem;
    margin: 3rem;
    padding: 1rem;
}

.profile-head{
    margin-top: 5rem;
    padding: 1rem;
}

.heading-about{
  font-size: larger;
  text-decoration: underline;
}

#para{
  font-size: 1.3rem;
  margin-top: 4px;
  margin-bottom: 5px;
}
.profile-edit-btn {
background-color: #a0b2e9;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #f7f8fa;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 50px;
width: 100px;
padding: 0 2px;
margin-top: 20px;
transition: all 200ms;
}

.profile-edit-btn:hover{
background-color: #AFE6C3;
transform: scale(1.05);
color:#fff;
font-size: 1.1rem;
}

.profile-edit-btn:hover {
  opacity:1;
  transition: 0.3s opacity ease-in-out;

  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
} 

.about-info{
  margin-top: 3px;
  font-size: 1.4rem;
}

.profile-work{
  margin-bottom: 20px;
  
}

.col-md-2{
  margin-bottom: 2px;
  
}

.profile-work p {
   font-size: 1.5rem;
}
